@charset "UTF-8";

body > div{
	border-radius: 5px;
    margin: 20px auto;
}

.list {
    width: 90%;
}

.detail, .update, .join{
	width:80%;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	text-decoration: underline;
}

h2 {
    text-align: center;
}

input{
	padding :3px;
	width:100%;
	outline:none;
	height:25px;
}

.point{
	color:#0056b3;
}

.btnBox button{
	padding:5px 10px;
	margin:20px auto;
	
}

button:not([disabled]) {
    cursor: pointer;
}

table tr td > span {
    font-size:12px;
    color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.detail th, .update th, .join th{
	width:150px;
}

.list table th:nth-child(1),
.list table th:nth-child(2),
.list table th:nth-child(3){
	width:15%;
}

.list table th:nth-child(4){
	width:25%;
}
.list table th:nth-child(5){
	width:20%;
}
.list table th:nth-child(6){
	width:10%;
}

th {
    background-color: #d0e9ff; 
}

tr:hover {
    background-color: #e5f1ff; 
}

.idDupBox{
	display:flex;
	gap:5px;
}

.idDupBox > button{
	width:100px;
}

.btnBox button,
.btnBox a{
	padding: 5px 10px;
	background-color: #0056b3;
	color: #fff;
	border-radius: 5px;
	transition: background-color 0.3s;
	border:none;
}

.btnBox a{
	margin:10px 0;
	display:inline-block;
}

.btnBox a:hover{
	text-decoration: none;
}

#top_select select{
	border:1px solid #000;
	padding:5px 10px;
	margin-bottom:5px;
}

.pageNation {
    margin-top: 30px;
    text-align: center;
}

.pageNation a, .pageNation span {
    display: inline-block;
    text-decoration: none;
    padding:0 3px;
    transition: background-color 0.3s ease;
}

.pageNation span{
	cursor:default;
}

.pageNation a:hover {
    color: #0056b3;
}

.pageNation .firstB, .pageNation .ltB, .pageNation .gtB, .pageNation .lastB {
    font-weight: bold;
}

.pageNation .current {
    background-color: #0056b3;
}
